* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lora", serif;
}
header {
  box-shadow: 1px 1px 5px #000;
}

.headerContent {
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 80px;
  display: flex;
  align-items: center;
}
h1 {
  font-size: xxx-large;
  color: #313659;
}
.mainBar {
  margin: auto;
  display: flex;
  align-items: center;
}

main {
  margin-top: 3.5%;
}
.cardColors {
  border-radius: 5%;
}
#firstPage {
  background: linear-gradient(to right, #6662a4 0%, #313659 43%, #5c5675 100%);
  text-align: center;
  width: 30%;
  padding: 2% 2%;
  box-shadow: -3px 5px 10px #000000;
  margin: 0% auto 0%;
  border-radius: 50px;
  color: white;
  font-size: large;
}
#buttonOne {
  font-size: 105%;
  margin-top: 5%;
  border-radius: 10px;
  background-color: #8cff98;
  border-color: #dcc6c9;
  color: #804e55;
}

#secondPage {
  display: none;
  background: linear-gradient(to right, #5ca463 0%, #277e18 51%, #6cb771 100%);
  box-shadow: -3px 5px 10px #000000;
  clear: left;
  text-align: center;
  width: 30%;
  padding: 4% 2%;
  margin: 0% auto 0%;
  border-radius: 50px;
}

.letters {
  color: white;
  font-size: large;
}

#house {
  background-color: #fffffc;
  border-color: #277e18;
}

#thirdPage {
  display: none;
  background: linear-gradient(to right, #ff4141 0%, #b41616 45%, #ff0000 100%);
  box-shadow: -3px 5px 10px #000000;
  text-align: center;
  width: 30%;
  padding: 4% 2%;
  margin: 0% auto 0%;
  border-radius: 50px;
}

#houseTwo {
  background-color: #fffffc;
  border-color: #b42e2e;
}
footer {
  height: 100px;
  box-shadow: 1px 1px 5px #000;
  background-color: #dcc6c9;
  margin-top: 3.5%;
}
h2 {
  color: #313659;
  font-size: 30px;
}

#creamLogo {
  margin-left: 24%;
}
