* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  overflow: auto;
  background: linear-gradient(300deg, rgb(227, 87, 110) 4%, rgb(125, 170, 216) 50%, rgb(225, 86, 209) 98%);
  animation: gradient 12s ease infinite;
  background-size: 300% 300%;
  background-attachment: fixed;
}
#buttonOne {
  background-color: purple;
  color: white;
  padding: 0.3rem 1rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.width-card {
  width: 600px;
}

.tarjeta {
	width: 100%;
	max-width: 360px;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	z-index: 2;
  margin-bottom: -25px;
}

.tarjeta > div {
	padding: 1rem;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

.tarjeta .delantera {
	width: 100%;
	background: url(./images/Project/credit-card.jpg);
	background-size: cover;
  background-color: black;
}

.delantera .logo-marca {
	text-align: right;
	min-height: 30px;
}

.delantera .logo-marca img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 80px;
}

.delantera .chip {
	width: 100%;
	max-width: 30px;
	margin-bottom: 20px;
}

.delantera .grupo .label {
	font-size: 13px;
	color: #7d8994;
	margin-bottom: 0;
}

.grupo p {
  margin-bottom: 0.3rem;
}

.delantera .grupo .numero,
.delantera .grupo .nombre {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}


@media (max-width: 768px) { 
  .mobile-img, .width-card {
    width: 90%;
  }
  .tarjeta {
    max-width: 260px;
  }
  .delantera .chip {
    max-width: 20px;
    margin-bottom: 15px;
  }
  .delantera .grupo .numero,
  .delantera .grupo .nombre {
    font-size: 16px;
  }
}
