body{
    font-family: 'Lora', serif;

}

header{
    display: flex;
    color: #313659;
    margin-left: 16%;
    font-size:x-large;
}

#whiteLogo{
    margin-left: -20%;
    margin-right: 20%;
}


.cardColors{
    border-radius: 5%;
}
#firstPage{
    background: linear-gradient(to right, #6662A4 0%, #313659 43%, #5C5675 100%);
    text-align: center;
    width:40%;
    padding: 2% 2%;
    box-shadow: -3px 5px 10px  #000000;
    margin: 0% auto 0%;
    border-radius: 50px;
    color: white;
    font-size:large;  
}
#buttonOne{
    font-size: 110%;
    margin-top: 5%;
    background-color: #8CFF98;
    border-color: #DCC6C9;
    
}

#secondPage{
    display: none;
    background: linear-gradient(to right, #5CA463 0%, #277E18 51%, #6CB771 100%);
    box-shadow: -3px 5px 10px  #000000;
    clear: left;
    text-align: center;
    width:40%;
    padding: 4% 2%;
    margin: 0% auto 0%;
    border-radius: 50px;
}

.letters{

    color: white;
    font-size:large;
   

}

#house{
    background-color: #FFFFFC;
    border-color: #277E18;
}

#thirdPage{ 
    display: none;
    background: linear-gradient(to right, #FF4141 0%, #B41616 45%, #FF0000 100%);
    box-shadow: -3px 5px 10px  #000000;
    text-align: center;
    width:40%;
    padding: 4% 2%;
    margin: 0% auto 0%;
    border-radius: 50px;

}

#houseTwo{
    background-color: #FFFFFC;
    border-color: #B42E2E;
}
footer{
    display:flex;
    background-color: #DCC6C9;
    margin-top: 3.5%;
    color: #313659;
    font-size:large;
    margin-left: auto;
}
h2{
    margin-left: 35%;
}

#creamLogo{
    margin-left: 24%;

}